<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <style type="text/css">
    button,
    button:focus
    button:active,
    button:hover {
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      z-index: 1;
      border: none;
      border-radius: 0;
      outline : none;
      color : transparent;
      background: rgb(230, 230, 230);
    }

    #bird {
      position: absolute;
      background-image: url(./images/bird.png);
      width: 36px;
      height: 26px;
      top: 85px;
      left: 85px;
      z-index: 2;
    }

    <% 0.upto(20) do |i| %>
    <% 0.upto(20) do |j| %>
    #cell-<%= j %>-<%= i %> {
      left: <%= i * 10 %>px;
      top: <%= j * 10 %>px;
    }

    #cell-<%= j %>-<%= i %>:hover {
      background: rgb(230, 0, 0);
    }
    #cell-<%= j %>-<%= i %>:hover ~ #bird {
      transform: rotate(<%= Math::atan2((j-10)*10, (i-10)*10) * 180 / Math::PI %>deg);
    }
    <% end %>
    <% end %>
    </style>
  </head>
  <body>
    <% 0.upto(20) do |i| %>
    <% 0.upto(20) do |j| %>
    <button id="cell-<%= i %>-<%= j %>"></button>
    <% end %>
    <% end %>

    <div id="bird"></div>
  </body>
</html>
